# Supabase Configuration
VITE_SUPABASE_URL=https://embpofaaxqathjtaumax.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_nix_vB-EnRbYPW2yKz4M0g_ZNrpqXhg
# Server-side key (Private, do not prefix with VITE_)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVtYnBvZmFheHFhdGhqdGF1bWF4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODI1NTUzMSwiZXhwIjoyMDkzODMxNTMxfQ.QzrtTpkto7FKq7ZnPAVxx6zHzJZEHnvKuYItHymfsKY
RESEND_API_KEY=re_WPUcfHk3_9i8uk2Pgk9hVAf9DhxuejxE9
ADMIN_EMAIL=askipas62@gmail.com
